<% if remote? %>
<%= link_to raw("<li ng-class=\"sideLiClass('top')\">TOP</li>"), top_path %>
<%= link_to raw("<li ng-class=\"sideLiClass('logs')\">LOGs</li>"), logs_path %>
<% else %>
<%= link_to raw("<li ng-class=\"sideLiClass('top')\">TOP</li>"), "#/top" %>
<%= link_to raw("<li ng-class=\"sideLiClass('logs')\">LOGs</li>"), "#/logs" %>
<% end %>
<%#= link_to(raw("<li#{" class='current'" if ["games","game"].include?(action_name)}>GAMEs</li>"), games_path, :remote => remote?)%>
