<%= link_to(raw("<li#{" class='current'" if action_name == "top"}>TOP</li>"), top_path, :remote => remote?||false)%>
<%#= link_to(raw("<li#{" class='current'" if ["log","date","tag","keyword"].include?(action_name)}>LOGs</li>"), logs_path, :remote => remote?)%>
<%#= link_to(raw("<li#{" class='current'" if ["games","game"].include?(action_name)}>GAMEs</li>"), games_path, :remote => remote?)%>