<h1>六十的联系方式owo</h1>
<table>
	<tr>
		<td>昵称</td>
		<td>六十</td>
	</tr>
	<tr>
		<td>邮箱</td>
		<td>916221645＠qq.com</td>
	</tr>
	<tr>
		<td>微博</td>
		<td>
			<a href="http://weibo.com/dame09">http://weibo.com/dame09</a>
		</td>
	</tr>
	<tr>
		<td>PSN</td>
		<td>
			<a href="http://psnprofiles.com/damedame60"><img src="http://card.psnprofiles.com/1/damedame60.png" border="0"></a>←日服[main]
			<br/>
			<a href="http://psnprofiles.com/damedesu60"><img src="http://card.psnprofiles.com/1/damedesu60.png" border="0"></a>←港服
		</td>
	</tr>
<!--	<tr>
		<td>QQ</td>
		<td><%#= image_tag "60qq.jpg" %></td>
	</tr>
	<tr>
		<td>微信</td>
		<td><%#= image_tag "60weixin.jpg" %></td>
	</tr>	-->
</table>