<h1>马太目欢乐颂+</h1>
<div>
	先用这张不太好看的秀吉大人顶两天看板……
	<br/>
	<%= image_tag("/uploads/entry/image/539d9fbe149afd614f000004/539d9fbe149afd614f000004.jpg", :width => 700)%>
</div>
<div>
	<h3>
		链接信息
	</h3>
	<table>
		<tr>
			<td>
				本站地址：
			</td>
			<td>
				<a href="http://dame09.com">http://dame09.com</a>
			</td>
		</tr>
		<tr>
			<td>
				管理员：
			</td>
			<td>
				六十
			</td>
		</tr>
		<tr>
			<td>
				banner：
			</td>
			<td>
				<%= image_tag("banner.png") %>
			</td>
		</tr>
	</table>
</div>