<h1>马太目欢乐颂+</h1>
<div style="padding:160px 0">
	。。。看板娘制作中。。。
</div>
<div>
	<h3>
		链接信息
	</h3>
	<table>
		<tr>
			<td>
				本站地址
			</td>
			<td>
				http://dame09.com
			</td>
		</tr>
		<tr>
			<td>
				管理员
			</td>
			<td>
				六十
			</td>
		</tr>
		<tr>
			<td>
				banner
			</td>
			<td>
				<%= image_tag("banner.png") %>
			</td>
		</tr>
	</table>
</div>