<h1>马太目欢乐颂+</h1>
<div style="padding:120px 0">
	。。。看板娘制作中。。。
</div>
<div>
	<h3>
		链接信息
	</h3>
	<table>
		<tr>
			<td>
				本站地址
			</td>
			<td>
				http://49.212.176.76
			</td>
		</tr>
		<tr>
			<td>
				管理员
			</td>
			<td>
				六十
			</td>
		</tr>
		<tr>
			<td>
				banner
			</td>
			<td>
				<%= image_tag("banner.png") %>
			</td>
		</tr>
		<tr>
			<td>PSN</td>
			<td>
				<a href="http://psnprofiles.com/damedame60"><img src="http://card.psnprofiles.com/1/damedame60.png" border="0"></a>
			</td>
		</tr>
	</table>
</div>