<span class="page<%= ' current' if page.current? %>">
    <% if @page_hash %>
    <%= link_to_unless page.current?, page, "#{@page_hash}/p#{page}", {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
    <% else %>
    <%= link_to_unless page.current?, page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
    <% end %>
</span>